/*
1. Posicionamiento
2. Modelo de Caja
3. Tipografia
4. Estilos Relacionados con Temas Visuales
5. Miscelaneos 
 */

:root {
   /* colors */
   --bitcoin-orange: #f7931a;
   --soft-orange: #ffe9d5;
   --sec-blue: #1a9af7;
   --soft-blue: #e7f5ff;
   --warm-black: #201e1c;
   --gray: #bababa;
   --black: #282623;
   --off-white: #faf8f7;
   --white: #ffffff;
}

* {
   box-sizing: border-box;
   margin: 0%;
   padding: 0%;
}

html {
   font-size: 62.5%;
   font-family: "DM Sans", sans-serif;
}

header {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   min-width: 320px;
   height: 334px;
   text-align: center;
   background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
   width: 170px;
   height: auto;
   margin-top: 40px;
}

header .header-text-container {
   width: 90%;
   min-width: 288px;
   max-width: 900px;
   height: 218px;
   margin: 40px 0;
   text-align: center;
   align-self: center;
}

.header-text-container h1 {
   font-weight: 700;
   font-size: 2.4rem;
   font-style: normal;
   line-height: 2.6rem;
   text-align: center;
   color: var(--white);
   margin-bottom: 30px;
}

.header-text-container p {
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.8rem;
   color: var(--soft-orange);
   font-style: normal;
   text-align: center;
}

.header-button-container a {
   padding: 15px;
   background-color: var(--off-white);
   border-radius: 4px;
   font-style: normal;
   font-size: 1.5rem;
   line-height: 1.823rem;
   text-align: center;
   color: var(--warm-black);
   text-decoration: none;
   font-weight: 700;
   padding-right: 19px;
   box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
   border: none;
}

.header-button-container span {
   margin-left: 17px;
   display: inline-block;
   width: 13px;
   height: 8px;
   background-image: url("./assets/vectorBlack.svg");
}

main {
   width: 100%;
   min-width: 320px;
   height: auto;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   position: relative;
   z-index: -1;
   background-color: var(--off-white);
}

main .main-first-container {
   position: absolute;
   top: 60px;
   width: 100%;
   height: auto;
}

main .main-figure-container {
   background-image: url("./assets/bitcoin.svg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 250px;
   height: 250px;
   display: flex;
   justify-items: center;
   margin: 0 auto;
   margin-bottom: 35px;
}

.main-text-container h2 {
   font-size: 2.4rem;
   font-style: normal;
   font-weight: 700;
   line-height: 2.6rem;
   text-align: center;
   color: var(--warm-black);
   margin-bottom: 30px;
}

.main-text-container p {
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 500;
   color: #757575;
   line-height: 1.8rem;
   text-align: center;
}

.exchange-tablesContainer {
   width: 65%;
   margin: 0 auto;
   margin-top: 50px;
   min-width: 110px;
   max-width: 520px;
   text-align: left;
}

.tableContainer {
   display: flex;
   flex-direction: column;
}

.tableContainer h3 {
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 2.3rem;
   color: #ff9536;
   margin-left: 12px;
   margin-bottom: 12px;
}

.grid-tableContainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   border-radius: 8px;
   font-family: "Inter", sans-serif;
   grid-gap: 1.5px;
}

.grid-tableContainer div {
   padding: 10px 12px;
   display: flex;
   background-color: var(--just-white);
}

.grid-tableContainer div:nth-child(1) {
   border-top-left-radius: 4px;
}

.grid-tableContainer div:nth-child(2) {
   border-top-right-radius: 4px;
}

.grid-tableContainer div:nth-child(7) {
   border-bottom-left-radius: 4px;
}

.grid-tableContainer div:nth-child(8) {
   border-bottom-right-radius: 4px;
}

.grid-tableContainer div:nth-child(2n) {
   justify-content: center;
}

.grid-tableContainer div h4 {
   font-size: 1.6rem;
   font-weight: 500;
   line-height: 1.9rem;
   color: #b5b0ac;
}

.grid-tableContainer div h5 {
   font-size: 1.4rem;
   font-weight: 400;
   line-height: 1.7rem;
   color: #757575;
}

.grid-tableContainer div h5 span {
   display: inline-block;
   margin-left: 10.5px;
   width: 12px;
   height: 8px;
   background-image: url("./assets/trendingDown.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #f5450d;
}

.grid-tableContainer div:nth-child(4) h5 span {
   display: inline-block;
   margin-left: 10.5px;
   width: 12px;
   height: 8px;
   background-image: url("./assets/trendingUp.svg") !important;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #f5450d;
}

.table-updateDate {
   background-color: var(--soft-orange);
   color: var(--warm-black);
   padding: 8px;
   text-align: center;
   margin-top: 16px;
   margin-bottom: 35px;
   border-radius: 8px;
   width: 90%;
   align-self: center;
}

.table-updateDate p {
   font-size: 1.2em;
   font-weight: 400;
   line-height: 1.45em;
}

.table-updateDate span {
   font-size: 1.2em;
   font-weight: 700;
   line-height: 1.45em;
}
